name: Docker

on:
  push:
    branches:
      - tacc
      - master
    tags:
      - v*
  pull_request:

env:
  IMAGE_NAME: model_catalog_api
  SWAGGER_IMAGE_NAME: mintproject/swagger-ui 
jobs:
  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2


      - name: Build image
        run: |
          pushd server
          docker build . --tag $IMAGE_NAME
          popd

      - name: Build image
        run: |
          pushd server
          docker build . --file Dockerfile_swagger_ui --tag $SWAGGER_IMAGE_NAME
          popd


      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image
        run: |
          IMAGE_ID=${{ github.repository }}
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          [ "$VERSION" == "master" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
          docker tag $SWAGGER_IMAGE_NAME $SWAGGER_IMAGE_NAME:$VERSION
          docker push $SWAGGER_IMAGE_NAME:$VERSION

